<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<!-- Page Content -->
<th:block layout:fragment="contents">
    <div class="container">
        <form>
            <input type="hidden" id="userId" th:value="${sessionUser.getId()}">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" th:value="${sessionUser.getUsername()}" class="form-control" readonly>
            </div>
            <div class="form-group">
                <label for="role">Role:</label>
                <input type="text" id="role" name="role" th:value="${sessionUser.getRole().getValue()}" class="form-control" readonly>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" th:value="${sessionUser.getEmail()}" class="form-control" placeholder="Enter email address">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Enter password">
            </div>
        </form>
        <div>
            <button class="btn btn-secondary btn-sm" onclick="history.back()">Back</button>
            <button id="btn-update" class="btn btn-warning btn-sm">Update</button>
        </div>
    </div>
    <script th:src="@{/js/user.js}"></script>
</th:block>
</html>